body{
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: Arial;
}

i{
	padding: 2px;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

.navbar{
	text-align: right;
}

.nav .nav-item{
	line-height: 20px;
	padding: 5px;
	display: inline-block;
}

.nav .nav-item i{
	margin-right: 5px;
}

.nav .nav-item a{
	color: white;
	font-size: 15px;
}

.list-group-item{
	cursor: pointer;
}

.list-group-item:hover{
	background-color: #0072ff;
	color: white;
}

.line{
	border: 1px solid red;
}

.sanpham{
	border: 1px solid #f46164;
	background-color: #f46164;
	padding: 7px;
	color: white;
}

.line{
	border: 1px solid #f46164;
}

.buy{
	position: absolute;
	top: 50%;
	left: 35%;
	opacity: 0;
}

.buy a{
	color: white;
	padding: 5px;
	font-weight: bold;
}

.shop:hover .buy{
	opacity: 1;
	border: 1px solid #f46164;
	color: white;
	background-color: #f46164;
}

@keyframes rotate360{
	100%{transform: rotate(360deg);}
}

.shop:hover img{
	animation-name: rotate360;
	animation-duration: 2s;
}

.social-icon{
	right: 20px;
	bottom: 50px;
	position: fixed;
	border: 1px solid #f46164;
	padding: 6px;
	background-color: #f46164;
}

.social-icon ul li{
	list-style: none;
	margin-top: 15px;
	text-align: center;
}

.social-icon ul li a{
	color: white;
	border: 1px solid;
}

.title b{
	color: #8f8f8f;
}

.title ul{
	margin-top:20px;
}

.title ul li{
	margin: 15px;
}

.title ul li a{
	color: #8f8f8f;
	font-size: 12px;
	padding: 10px;
}